.button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.btn-space {
  margin-left: 5px;
}

.logo {
  padding-left: 39%;
  padding-bottom: 5px;
  padding-top: 3px;
  height: 90px;
}
