html,
body,
body > div {
  /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  margin: 0;
  font-size: 16px;
}

.sidebar-ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

.sidebar-li {
  margin: 1.5em 0;
  padding: 0;
}

b {
  /* used for event dates/times */
  margin-right: 3px;
}

.calendar {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: -2em;
  /* min-width: 85%;
  max-width: 90%; */
}

.calendar-sidebar {
  width: 300px;
  line-height: 1.5;
  /* background: #ffd596; */
  background: white;
  border-right: 1px solid lightgray;
  box-shadow: 1px 1px 5px lightgray;
  height: 100%;
  margin-top: 3em;
}

.calendar-sidebar-section {
  padding: 2em;
}

.calendar-sidebar-title {
  color: white;
  background-color: #ffc163;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 3px grey;
  text-align: center;
  margin-left: -30px;
  margin-right: -27px;
  margin-top: -30px;
}

.calendar-main {
  flex-grow: 1;
  padding: 3em;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.fc-event {
  /* sets the width for events on week and day view */
  max-width: 120px;
}
